<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='报名'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container-fluid">
    <div class="starter-template">
        <h1>简易报名系统</h1>
        <p>The current time is <span th:text="${currentTime}">(time)</span></p>
        <form class="form-inline">
            <div class="form-group">
                <label for="englishName">英文名：</label>
                <input type="text" class="form-control" id="englishName" name="englishName">
            </div>
            <input id="activityId" class="hidden">
        </form>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>活动名</th>
            <th>活动开始时间</th>
            <th>报名结束时间</th>
            <th>报名人数</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="activity : ${activityList}"
            th:onclick="'javascript:initApplyModel('+${activity.id}+',\''+${activity.activityName}+'\',\''+${activity.remark}+'\')'"
            data-toggle="modal" data-target="#applyModal">
            <td data-th-text="${activity.activityName}">...</td>
            <td data-th-text="${#dates.format(activity.startTime,'yyyy-MM-dd HH:mm:ss')}">...</td>
            <td data-th-text="${#dates.format(activity.applyEndTime,'yyyy-MM-dd HH:mm:ss')}">...</td>
            <td data-th-text="${activity.applyNum}">...</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="applyModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>操作</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">英文名:</div>
                    <div class="col-md-10"><span id="showEnglishName">abc</span></div>
                </div>
                <div class="row">
                    <div class="col-md-2">活动名:</div>
                    <div class="col-md=10"><span id="showActivityName">活动名</span></div>
                </div>
                <div class="row">
                    <div class="col-md-2">活动介绍:</div>
                    <div class="col-md=10"><span id="showRemark">活动介绍</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="apply">报名</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="cancelApply">取消报名</button>
            </div>
        </div>
    </div>
</div>
<div th:include="layout :: footer" id="footer">(footer)</div>
<script>
    function initApplyModel(id, activityName, remark) {
        $("#activityId").val(id);
        $("#showEnglishName").text($("#englishName").val());
        $("#showActivityName").text(activityName);
        $("#showRemark").text(remark);
    }
    $("#apply").click(function () {
        var englishName = $("#englishName").val();
        var activityId = $("#activityId").val();
        if (englishName == '') {
            alert("请先填写您的英文名");
            return;
        }
        if (activityId == '') {
            alert("请先选中你要报名的活动");
            return;
        }
        $.post("/apply",
                {
                    englishName: englishName,
                    activityId: activityId
                }, function (data, status) {
                    if (data.c == '100'){
                        alert("报名成功");
                        window.location.reload();
                    }else{
                        alert(data.m);
                    }
                });
    });
    $("#cancelApply").click(function () {
        var englishName = $("#englishName").val();
        var activityId = $("#activityId").val();
        if (englishName == '') {
            alert("请先填写您的英文名");
            return;
        }
        if (activityId == '') {
            alert("请先选中你要取消报名的活动");
            return;
        }
        $.post("/cancelApply",
                {
                    englishName: englishName,
                    activityId: activityId
                }, function (data, status) {
                    if (data.c == '100'){
                        alert("取消报名成功");
                        window.location.reload();
                    }else{
                        alert(data.m);
                    }
                });
    });
</script>
</body>
</html>
