<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jc.mapper.ActivityApplyMapper" >
  <resultMap id="BaseResultMap" type="com.jc.model.ActivityApply" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, activity_id, employee_id, activity_name, real_name, remark, status, create_time, 
    update_time
  </sql>
  <select id="getApplyList" resultType="com.jc.model.ActivityApply">
    select e.department,e.english_name englishName,aa.id, aa.activity_id activityId, aa.employee_id employeeId, aa.activity_name activityName, aa.real_name realName, aa.remark, aa.status, aa.create_time createTime
    from activity_apply aa
    left join employee e on aa.employee_id = e.id
    where status = '0' and aa.activity_id = #{0}
  </select>
</mapper>